@model AlcoholShop.Models.ViewModels.Customer.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Profile details</h2>
<h4>@Html.DisplayFor(vm => vm.Name)</h4>
<p>@Html.DisplayFor(vm => vm.Email)</p>
<p>@Html.DisplayFor(vm => vm.Address)</p>
<p>@Html.DisplayFor(vm => vm.Postcode)</p>
<p>@Html.DisplayFor(vm => vm.BirthDate)</p>
<p>@Html.DisplayFor(vm => vm.PhoneNumber)</p>


@Html.ActionLink("Edit", "ShoppingCart")

<h2>Shopping Cart</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Unit price</th>
        <th>Quantity</th>
        <th>Total price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.ProductsInCart)
    {
        <tr>
            <td>@Html.DisplayFor(vm => product.Name)</td>
            <td>@Html.DisplayFor(vm => product.Description)</td>
            <td>@Html.DisplayFor(vm => product.UnitPrice) BGN</td>
            <td>@Html.DisplayFor(vm => product.Quantity)</td>
            <td>@Html.DisplayFor(vm => product.TotalPrice) BGN</td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Customer", FormMethod.Post))
                {
                    <input type="number" value="@product.Id" name="productId" hidden="hidden"/>
                    <input style="font-size: 14px" class="btn btn-danger" type="submit" value="Remove"/>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-default"})

@*TODO*@
<input style="font-size: 14px" class="btn btn-success" type="submit" value="Buy" data-toggle="modal" data-target="#purchesSuccessModel"/>

<!-- Modal -->
<div class="modal fade" id="purchesSuccessModel" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Purches Success</h4>
            </div>
            <div class="modal-body">
                <p>Will call you to confirm purchase.</p>
                <p style="font-size: 12px">Delivery within five working days.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>