@model AlcoholShop.Models.ViewModels.Customer.ShoppingCartViewModel
    
@{
    ViewBag.Title = "Profile Page";
}

<h2>Profile details</h2>
<h4>@Html.DisplayFor(vm => Model.Name)</h4>
<p>
    @Html.DisplayFor(vm => Model.Email)<br />
    @Html.DisplayFor(vm => Model.BirthDate)<br />
    @Html.DisplayFor(vm => Model.Address)<br />
    @Html.DisplayFor(vm => Model.Postcode)<br />
    @Html.DisplayFor(vm => Model.PhoneNumber)<br />
</p>
@Html.ActionLink("Edit", "Edit")

<h2>Shopping Cart</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Unit price</th>
        <th>Quantity</th>
        <th>Total price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.ProductsInCart)
    {
        <tr>
            <td>@Html.DisplayFor(vm => product.Name)</td>
            <td>@Html.DisplayFor(vm => product.Description)</td>
            <td>@Html.DisplayFor(vm => product.UnitPrice) BGN</td>
            <td>@Html.DisplayFor(vm => product.Quantity)</td>
            <td>@Html.DisplayFor(vm => product.TotalPrice) BGN</td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Customer", FormMethod.Post))
                {
                    <input type="number" value="@product.Id" name="productId" hidden="hidden"/>
                    <input style="font-size: 14px" class="btn btn-danger" type="submit" value="Remove"/>
                }
            </td>
        </tr>
    } 
    </tbody>
</table>

@Html.ActionLink("Home", "Index", "Home")
