@using System.Web.Mvc.Html
@model IEnumerable<AlcoholShop.Models.ViewModels.Product.ProductViewModel>
@{
    ViewBag.Title = "Alcohol Shop";
}

@foreach (var vm in Model)
{
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="background-color: whitesmoke; margin-bottom: 5px; align-items: center; text-align: center">
            <div class="caption">          
                <img style="max-height: 200px" src="@Url.Content(vm.ImagePath)" alt="IMAGES" />
                <h4>@Html.DisplayFor(vms => vm.Name)</h4>          
                <p>@Html.DisplayFor(vms => vm.Description)</p>
            </div>
            
            @if (vm.Amount > 0)
            {
                using (Html.BeginForm("AddToCart", "Customer", FormMethod.Post))
                {
                    <input type="number" value="@vm.Id" name="productId" hidden="hidden"/>
                    <input style="font-size: 14px" class="btn btn-success" type="submit" value="@Html.DisplayFor(vms => vm.Price) BGN"/>
                }
            }
            else
            {
                <input style="font-size: 14px" class="btn btn-danger" type="submit" disabled value="Out of stock" />
            }
            
        </div>

    </div>
}